[submodule "submodules/battery-status"]
	path = submodules/battery-status
	url = https://gist.github.com/11023856.git
[submodule "submodules/canonical-url"]
	path = submodules/canonical-url
	url = https://gist.github.com/11022278.git
[submodule "submodules/genpasswd"]
	path = submodules/genpasswd
	url = https://gist.github.com/11023640.git
[submodule "submodules/list-filetypes"]
	path = submodules/list-filetypes
	url = https://gist.github.com/11024316.git
[submodule "submodules/mac-service"]
	path = submodules/mac-service
	url = https://gist.github.com/6160897.git
[submodule "submodules/mysqldump"]
	path = submodules/mysqldump
	url = https://gist.github.com/11022667.git
[submodule "submodules/optimize-images"]
	path = submodules/optimize-images
	url = https://gist.github.com/11024067.git
[submodule "submodules/remove-crap"]
	path = submodules/remove-crap
	url = https://gist.github.com/11023700.git
[submodule "submodules/video-infos"]
	path = submodules/video-infos
	url = https://gist.github.com/11023566.git
[submodule "submodules/wmc-clone"]
	path = submodules/wmc-clone
	url = https://gist.github.com/3867674.git
[submodule "submodules/wordpress-change-url"]
	path = submodules/wordpress-change-url
	url = https://gist.github.com/2227920.git
[submodule "submodules/convert-to-utf8"]
	path = submodules/convert-to-utf8
	url = https://gist.github.com/11052359.git
[submodule "submodules/osx-cpu-temp"]
	path = submodules/osx-cpu-temp
	url = https://github.com/lavoiesl/osx-cpu-temp.git
[submodule "submodules/mysql-drop-tables"]
	path = submodules/mysql-drop-tables
	url = https://gist.github.com/90ff27e94a1fd3338112.git
